//Fonts
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');


//Screen Sizes
$screen-sm: 768px;

$mq-sm: 'screen and (min-width: #{$screen-sm})';


//Color Variables
$white: #fff;
$darkPurple: #230041;
$lightPurple: #320056;
$yellowFont: #d59903;
$darkRed: #9C0031;


//Font Style
$fontBold: 'Archivo Black', sans-serif;
$fontLight: 'Roboto', sans-serif;

body {
    background-color:$darkPurple;;
    margin:0;
    

    @media #{$mq-sm} {
        background-color: #000;
        margin: 2em;
    }

    .container {
        background-color: $darkPurple;
        width: 100%;
        height: 100vh;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1.875em;
        position: relative;
        top: -33px;

        @media #{$mq-sm} {
            width: 50vw;
        }
    }

    .logo {
        width: 44px;
        height: 44px;
        position: relative;
        top: 30px;
        margin-left: 1.875em;

        @media #{$mq-sm} {
           width: 79px;
           height:79px;
           top: 0;
        }
    }

    #imageContainer {
        background-color:$lightPurple;
        margin: 1.875em;
        padding: 2em;

        @media #{$mq-sm} {
            padding: 4em;
        }

        #moneyImg {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.congrats, .cash {
    font-family: $fontBold;
    color: $white;
    text-align: center;
    font-size: 1.7em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    
    
    @media #{$mq-sm} {
        font-size:4em;
  }
}

.cash {
    // width: 280px;
    width: 66%;
    min-width: 250px;

    @media #{$mq-sm} {
    //   width: 600px;
    width: 72%;
    max-width: 590px
    }
}

.congrats {
    margin-top: 1.5em;
}

form {
    color: $white;
    font-family: $fontLight;
    font-size: 1em;
    margin: 1.875em;

    h2 {
        font-size: 1em;
        font-weight: 900;

        @media #{$mq-sm} {
            font-size: 2em;
        }
    }

    label{
         color: $yellowFont;
    }
    input{
        background-color: $lightPurple;
        border: none;
        display: block;
        width: 100%;
        height: 50px;
        margin: 1em 0 0 0;
        box-sizing: border-box;
        color: $white;
    }

    input::placeholder {

        color: $white;
        padding: 1em 0 1em 1em ;
        border: none;
        
    }
}

.errorMessage{
    background-color: $darkRed;
    width: 100%;
    margin: 0;
    height: 50px;
    padding: 1em 0 1em 1em;
    box-sizing: border-box;
    display: none;
}

.icon {
    color: $white;
    text-align: center;
    font-weight: 900;
    height: 25px;
    width: 25px;
    margin: auto;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}